// Import font, set defaults
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");
// palette url: http://paletton.com/#uid=73e0w0kw0LvjNPepHMYK7zNJhps

html {
  font-size: 1em;
  scroll-behavior: smooth;
  color: #000;
}

body {
  margin: 0;
  overflow-x: hidden;
}

html, * {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.2;
  hyphens: auto;
  -webkit-text-size-adjust: 100%;
}

* {
  font-size: 1.04rem;
  font-weight: 450;
}

// Layout
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 0.25rem;
  &.card-container {
    .card {
      grid-column: span 12;
      max-width: 100%;
      @media screen and (min-width: 560px) {
        grid-column: span 6;
        grid-column-gap: 0.5rem;
      }
    }
    @media screen and (min-width: 768px) {
        grid-column-gap: 1rem;
      }
  }
}

.col-centered {
  grid-column: span 12;
  max-width: 100%;
  padding: 18px;
  @media screen and (min-width: 768px) {
    grid-column: 2/12;
  }
  @media screen and (min-width: 1280px) {
    grid-column: 3/11;
  }
}

.col-half {
  grid-column: span 12;
  max-width: 100%;
  @media screen and (min-width: 768px) {
    grid-column: span 6;
  }
}

.col-full {
  grid-column: span 12;
}

.col.card {
  grid-column: span 12;
  max-width: 100%;
  @media screen and (min-width: 560px) {
    grid-column: span 6;
  }
}

// Header section
header {
  background: #252627;
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  background-image: url('./assets/splash.svg');
  background-size: cover;
  background-position: center;
  &.filtered {
    filter: blur(0.5px) grayscale(12%) brightness(62.5%);
  }
}

.title {
  z-index: 5;
  align-self: center;
  padding: 0.5rem;
  max-width: 1000px;
  text-align: center;
  @media screen and (min-width: 320px) {
    padding: 2rem;
  }
  h1 {
    text-shadow: 1px 2px 6px #212121;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 0.8;
    color: #fff;
    letter-spacing: 1px;
    @media screen and (min-width: 490px) {
      letter-spacing: 3px;
      font-size: 2.5rem;
    }
    @media screen and (min-width: 510px) {
      font-size: 3.25rem;
    }
    @media screen and (min-width: 768px) {
      font-size: 4rem;
    }
    small {
      margin-top: 24px;
      display: block;
      font-size: 1rem;
      letter-spacing: 2px;
      @media screen and (min-width: 320px) {
        margin-top: 32px;
        font-size: 1.25rem;
        letter-spacing: 5px;
      }
    }
  }
  .separator {
    background: #fff;
    height: 2px;
    width: 50px;
    margin: auto;
    @media screen and (max-height: 500px) {
      display: none;
    }
  }
}

.laptop {
  transform: scale(0.5);
  width: 100%;
  height: 160px;
  text-align: center;
  margin-bottom: 0px;
  @media screen and (max-height: 500px) {
    display: none;
  }
  @media screen and (min-width: 320px) {
    transform: scale(0.75);
    margin-bottom: 24px;
  }
  @media screen and (min-width: 768px) {
    transform: scale(0.8);
    height: 180px;
    margin-bottom: 28px;
  }
  .monitor {
    width: 275px;
    height: 181px;
    display: block;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    padding: 4px;
    border: 1px solid #e0e2e2;
    background: #101111;
    padding-top: 12px;
    .camera {
      display: block;
      width: 8px;
      height: 8px;
      position: absolute;
      top: 2px;
      left: calc(50% - 6px);
      border-radius: 100%;
      background: #000;
    }
    .mic {
      display: block;
      width: 4px;
      height: 4px;
      position: absolute;
      top: 4px;
      right: calc(50% - 7px);
      border-radius: 100%;
      background: #000;
    }
    .screen-bg {
      background: linear-gradient(210deg, #00d1b2 0%, #008182 100%);
      display: block;
      height: 100%;
      width: 100%;
      border-radius: 2px 2px 0 0;
      .window {
        position: relative;
        top: 5.5%;
        left: 2%;
        width: 96%;
        height: 90%;
        background: #1c2024;
        border-radius: 3px 3px 0 0;
        box-shadow: 1px 2px 3px rgba(0,0,0, 0.7);
        .area {
          overflow: hidden;
          position: absolute;
          top: 14px;
          left: 0;
          height: calc(100% - 14px);
          width: 100%;
          background: #22262b;
          text-align: left;
          padding: 4px 8px;
          line-height: 0.25rem;
          box-sizing: border-box;
          br {
            line-height: 0.25rem;
          }
          .code {
            height: 4px;
            display: inline-block;
            background: #e57373;
            width: 20px;
            border-radius: 2px;
            position: relative;
            &.offset {
              margin-left: 12px;
              &.double {
                margin-left: 20px;
              }
            }
            &.key {
              background: #ce93d8;
            }
            &.name {
              background: #64b5f6;
            }
            &.val {
              background: #ff8f00;
            }
            &.comment {
              background: #7f99a5;
            }
            &.short {
              width: 13px;
            }
            &.medium {
              width: 17px;
            }
            &.semilong {
              width: 23px;
            }
            &.long {
              width: 30px;
            }
          }
        }
        .circle {
          display: block;
          width: 6px;
          height: 6px;
          position: absolute;
          top: 5px;
          left: 5px;
          border-radius: 6px;
          background: #ff5f57;
          &.yellow {
            background: #fdbb2d;
            left: 13px;
          }
          &.green {
            background: #27c93f;
            left: 22px;
          }
        }
      }
    }
  }
  .base {
    width: 338px;
    height: 12px;
    background: #e0e2e2;
    display: block;
    margin: 0 auto;
    border-radius: 0px 0px 6px 6px;
    .pad {
      margin: 0 auto;
      width: 42px;
      background: #b8b9b9;
      height: 4px;
      border-radius: 0 0 4px 4px;
      margin-top: -1px;
    }
  }
}

.scroll-down {
  position: absolute;
  left: calc(50% - 0.5rem);
  bottom: 5vh;
  display: block;
  text-align: center;
  font-size: 1.25rem;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 2rem;
  height: 2rem;
  border-bottom: 6px solid #fff;
  border-right: 6px solid #fff;
  transform: translate(-50%, 0%) rotate(45deg);
  animation: fade_move_down 2s ease-in-out infinite;
}

@keyframes fade_move_down {
  0% {
    transform:translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform:translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

// Navigation menu
.nav-icon {
  width: 36px;
  height: 36px;
  position: fixed;
  margin: 32px 24px;
  bottom: 0;
  right: 0;
  //transform: rotate(0deg);
  transform: scale(1.25);
  transition: .5s ease-in-out;
  background: #1556d6;
  border-radius: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12),0 1px 5px 0 rgba(0,0,0,.2);
  cursor: pointer;
  z-index: 100;
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 22px;
    background: #fff;
    border-radius: 2px;
    opacity: 1;
    left: 7px;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  span:nth-child(1) {
    top: 10px;
  }
  span:nth-child(4) {
    top: 24px;
  }
  span:nth-child(2), span:nth-child(3) {
    top: 17px;
  }
  &.open span:nth-child(1) {
    top: 17px;
    width: 0%;
    left: 50%;
  }
  &.open span:nth-child(2) {
    transform: rotate(45deg);
  }

  &.open span:nth-child(3) {
    transform: rotate(-45deg);
  }

  &.open span:nth-child(4) {
    top: 16px;
    width: 0%;
    left: 50%;
  }
  @media screen and (min-width: 560px) {
    display: none;
  }
}

nav {
  display: block;
  position: fixed;
  height: auto;
  width: 100vw;
  top: -100vh;
  background: #fff;
  left: 0;
  z-index: 90;
  transition: top 0.8s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  &.shown {
    top: 0;
    background-color: #252627;
    color: #a9a9b3;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    li {
        display: inline-block;
        transition: all 0.5s ease;
        flex: 1 1 auto;
        padding: 0.75rem 0.5rem;
        &:hover, &:focus {
          background: #3c71da;
          color: #fff;
          transform: scale(1.2); 
        }
        &.selected {
          border-bottom: 6px solid #3c71da;
        }
        a, a:link, a:visited, a:active, a:hover {
          letter-spacing: 1px;
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: inherit;
          display: block;
        }
      }
  }
  @media screen and (min-width: 560px) {
    ul {
      flex-direction: row;
    }
  }
}





nav2 {
  display: block;
  position: fixed;
  height: auto;
  width: 100vw;
  top: -100vh;
  background: #fff;
  left: 0;
  z-index: 90;
  transition: top 0.8s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  &.shown {
    top: 0;
    background-color: #252627;
    color: #a9a9b3;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    li {
        display: inline-block;
        transition: all 0.5s ease;
        flex: 1 1 auto;
        padding: 0.75rem 0.5rem;
        &:hover, &:focus {
          background: #3c71da;
          color: #fff;
        }
        &.selected {
          border-bottom: 6px solid #3c71da;
        }
        a, a:link, a:visited, a:active, a:hover {
          letter-spacing: 1px;
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: inherit;
          display: block;
        }
      }
  }
  @media screen and (max-width: 560px) {
    ul {
      flex-direction: column;
      display: none ; 
    }
  }
}

  






// Content sections
h2 {
  font-size: 2.15rem;
  letter-spacing: -.1rem;
  margin-left: -4px;
  
  &::after {
    display: block;
    content: '';
    width: 22.5%;
    max-width: 130px;
    height: 5px;
    background: linear-gradient(135deg, #ffa361 0%, #638de0 100%);
    position: relative;
    top: 12px;
    left: 4px;
  }
  @media screen and (min-width: 560px) {
    font-size: 2.5rem;
  }
}

section p, section li {
  line-height: 1.35;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  text-align: justify;
}

a {
  &:link {
    color: #1556d6;
  }
  &:visited {
    color: #0943b4;
  }
  &, &:link, &:visited {
    cursor: pointer;
    text-decoration: none;
  }
}


strong {
  font-weight: 650;
}

section, footer {
  padding: 14px 8px;
  @media screen and (min-width: 560px) {
    padding: 2px 12px;
  }
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-media-obj {
  flex: 0 0 auto;
  padding: 8px;
  max-width: calc(100% - 16px);
  flex-basis: 100%;
  text-align: center;
  @media screen and (min-width: 560px) {
    margin-top: 1%;
    max-width: 160px;
    flex-basis: 135px;
  }
}

.flex-fill {
  flex: 0 0 auto;
  max-width: 100%;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  @media screen and (min-width: 560px) {
    text-align: left;
    
    padding-left: 1.5vw;
  }
}

.profile-picture {
  width: 120px;
  border-radius: 30%;
  max-width: 100%;
  height: auto; 
}

.flex-media-logo {
  flex: 0 0 auto;
  padding: 4px 8px 4px 0;
  max-width: 64px;
  flex-basis: 64px;
  text-align: center;
  align-self: center;
  box-sizing: border-box;
  img {
    width: 56px;
    height: auto;
  }
}

.flex-title {
  flex: 0 0 auto;
  max-width: 100%;
  flex-grow: 1;
  flex-basis: 0;
  @media screen and (min-width: 560px) {
    padding-left: 0.75vw;
  }
  h3 {
    font-size: 1.15rem;
    small {
      font-size: 1.0rem;
      display: block;
      @media screen and (min-width: 560px) {
        font-size: 1.25rem;
    }
      + small {
        font-size: 0.75rem;
        color: #424242;
        @media screen and (min-width: 560px) {
          font-size: 0.90rem;
      }
      }
    }
    @media screen and (min-width: 560px) {
      font-size: 1.6rem;
  }
}
}
.card {
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12),0 1px 5px 0 rgba(0,0,0,.2);
  border-radius: 4px;
  margin: 4px 0;
  overflow: hidden;
  transition: all .3s ease;
  height: calc(100% - 8px);
  @media screen and (min-width: 560px) {
    max-width: 50%;
  }
  @media screen and (min-width: 800px) {
    max-width: 33.3333%;
  }
  .content, .media {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 4px 8px;
    width: 100%;
  }
  .media {
    height: 180px;
    padding: 10px;
    -o-object-fit: cover;
    object-fit: contain;
  }
  h3 {
    font-size: 1.25rem;
    margin: 6px;
    color: #000;
    small {
      display: block;
      font-size: 0.8rem;
      color: #424242;
    }
  }
  &:hover {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.14),0 1px 7px 0 rgba(0,0,0,.12),0 3px 1px -1px rgba(0,0,0,.2);
  }
}

.content-left-offset {
  margin-left: 60px;
  margin-top: -14px;
  @media screen and (min-width: 560px) {
    margin-left: calc(0.75vw + 64px);
  }
  p {
    margin-bottom: 8px;
  }
  ul {
    padding-left: 12px;
    margin-left: -35px;
    margin-top: 8px;
    list-style: none;
    @media screen and (min-width: 560px) {
      margin-left: -10px;
    }

    li:before {
      content: "-";
      position: absolute;
      margin-left: -14px;
    }
  }
}



.content-left-offset2 {
  
  margin-left: 30px;
  margin-top: -8px;
  @media screen and (min-width: 560px) {
    margin-left: calc(0.75vw + 64px);
  }

  strong{
    font-size: 1.25rem;
    margin: 6px;
    color: #000;
    font-weight: 800;
  }

  p {
    margin-bottom: 8px;
  }
  ul {
    padding-left: 12px;
    margin-top: 8px;
    list-style: none;
    li:before {
      content: "#";
      position: absolute;
      margin-left: -16px;
    }
  }
}


section {
  h1 {
    font-size: 3rem;
    margin-bottom: 8px;
    margin-top: 16px;
    small {
      display: block;
      font-size: 1.25rem;
      color: #424242;
    }
  }
}

.social-icon, .social-icon:link, .social-icon:visited {
  color: #5cd6b9;
  cursor: pointer;
  + .social-icon, + .social-icon:link, + .social-icon:visited {
    padding-left: 4px;
  }
}



.mailto-link {
	position: relative;
	padding: 1.5px 4.5px;
}


.mailto-message {
	top: 1px;
	left: 50%;
	margin-bottom: -5px;
	transform: translate(-50%, -100%);
	position: absolute;
	display: none;
	width: auto;
	white-space: nowrap;
	font-size: 12px;
	background-color: black;
	color: white;
	padding: 2px 6px;
	border-radius: 2px;
	&:after {
		content: '';
	}
}
.mailto-link:hover .mailto-message,
.mailto-link:focus .mailto-message,
.mailto-link:focus-within .mailto-message {
	display: block;
}


.well {
	
  background-color: #e0ebf3;

  cursor: pointer;
	
}


// Footer section
footer {
  background:linear-gradient(180deg, #f7f7f7 0%, #f0f0f0 100%);
  margin-top: 44px;
  text-align: center;
  p, a, a:link, a:visited {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.4;
  }
  a {
    font-weight: 400;
  }
}


.right-text{
 
  max-width: 100%;
  padding: 2px;
  @media screen and (min-width: 768px) {
    float: right;
  }
 
}


* {box-sizing: border-box;}
    
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #373737;
  color: white;
  padding: 12px 20px;
  border: 3px #fff solid;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #1a87ee;
}

.form {
  border-radius: 10px;
  background:#f5f5f5; 
  padding: 20px;
}


/* Popup box BEGIN */
.hover_bkgr_fricc{
background:rgba(0,0,0,.4);
cursor:pointer;
display:none;
height:100%;
position:fixed;
text-align:center;
top:0;
width:100%;
z-index:10000;
}
.hover_bkgr_fricc .helper{
display:inline-block;
height:100%;
vertical-align:middle;
}
.hover_bkgr_fricc > div {
background-color: #fff;
box-shadow: 10px 10px 60px #555;
display: inline-block;
height: auto;
max-width: 551px;
min-height: 100px;
vertical-align: middle;
width: 60%;
position: relative;
border-radius: 8px;
padding: 15px 5%;
}
.popupCloseButton {
background-color: #fff;
border: 3px solid #999;
border-radius: 50px;
cursor: pointer;
display: inline-block;
font-family: arial;
font-weight: bold;
position: absolute;
top: -20px;
right: -20px;
font-size: 25px;
line-height: 30px;
width: 30px;
height: 30px;
text-align: center;
}
.popupCloseButton:hover {
background-color: #ccc;
}
.trigger_popup_fricc {
cursor: pointer;
font-size: 20px;
margin: 20px;
display: inline-block;
font-weight: bold;
}


.st-label{
  line-height: 32px; 
}

#more {display: none;}

#pay-btn {
  box-sizing: border-box;
  position: relative;
  display: block;
  min-height: 38px;
  padding: 15px;
  line-height: 20px;
  font-weight: 650;
  font-size: 20px;
  font-family: Lato, Muli, -apple-system, BlinkMacSystemFont, Arial,
    sans-serif;
  word-break: break-word;
  border-radius: 10px;
  text-align: center;
  color: #ffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
  text-decoration: none;
  background-color: #528FF0;
  width: 285px;
  
}
